/*-----------------------------------------
    ANCHOR NAVIGATION
-----------------------------------------*/

nav.nav-anchor {
	display: block;
	margin: 2em auto;
	width: 90vw;
	max-width: 1200px;
	text-align: center;
	@media (--1200vp) {
		width: 95vw;
	}
	@media (--800vp) {
		background-color: color( var(--PrimaryTwo) alpha(95%));
		transition: all .35s linear;
		width: 100%;
		height: auto;
		max-height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: 0;
		z-index: 1000;
		&.is-active {
			max-height: 100vh;
		}
	}
	&.is_stuck {
		position: fixed;
		background-color: var(--White);
		box-shadow: 0px 3px 5px color( var(--PrimaryThree) alpha(10%));
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		max-width: inherit;
		margin: 0 auto;
		padding: 3vh 0;
		box-shadow: 0 2px 4px 0 rgba(69, 65, 72, 0.2);
		& ul {
			width: 90vw;
			max-width: 1024px;
			margin: 0 auto;
		}
	}
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (--800vp) {
			flex-wrap: wrap;
			padding: 5vw 5vw 75px 5vw;
		}
		& li {
			display: inline-block;
			margin: 0 .5em;
			@media (--800vp) {
				margin: 0;
				width: 50%;
				text-align: left;
			}
			&.active {
				a {
					&::after {
						content: '';
						background: var(--PrimaryTwo);
						height: 4px;
						width: 100%;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: all .25s ease-in-out;
						@media (--800vp) {
							display: none;
						}
					}
				}
			}
			& a {
				text-decoration: none;
				text-transform: uppercase;
				position: relative;
				padding: 0 .5em;
				font-family: var(--ButtonCopy);
				font-size: 20px;
				letter-spacing: 2px;
				@media (--1200vp) {
					font-size: 14px;
				}
				@media (--800vp) {
					color: var(--PrimaryOne);
					line-height: 2.5;
					letter-spacing: 1px;
				}
				&::after {
					content: '';
					background: var(--PrimaryTwo);
					height: 4px;
					width: 0;
					position: absolute;
					bottom: -20px;
					left: 0;
					transition: all .25s ease-in-out;
					@media (--800vp) {
						display: none;
					}
				}
				&:hover,
				&:focus {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

/*-----------------------------------------
    HAMBURGER
-----------------------------------------*/

#menu-toggle {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: var(--PrimaryTwo);
	z-index: 2000;
	@media (--800vp) {
		display: block;
	}
	& svg {
		fill: var(--PrimaryOne);
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.is-active svg {
		&:first-child {
			display: none;
		}
		&:last-child {
			display: block;
		}
	}
}