.page-template-about-annies .default-contents {
	padding-bottom: 0;
}

.page-template-about-annies .default-contents::after {
	display: none;
}

.page-template-about-annies .annie-kits,
.page-template-about-annies .other-kits {
	padding: 25px 0 0;
}

.other-kits-block,
.annie-kits-block {
	text-align: center;
	padding: 40px 2vw;
	margin: 75px 0 0 0;
	&>a {
		margin: 25px 0;
		text-decoration: none;
		display: block;
		color: var(--PrimaryTwo);
		font-family: var(--BodyCopy);
		font-size: 20px;
		font-weight: bold;
	}
	&>h2 {
		margin-top: 2em;
		&:first-child {
			margin-top: 0;
		}
	}
}

.other-kits-block {
	margin-top: 4rem;
	padding: 0 2vw 18vh;
	background-image: none;
	background-position: bottom -30px center;
	background-repeat: no-repeat;
	@media (--800vp) {
		background-position: bottom right;
		background-size: 1000px;
	}
	h3 {
		margin: 4em 0 1em;
	}
}

.annie-kits-block {
	margin: 0;
}

.other-kits,
.annie-kits {
	width: 100%;
	margin: 0 auto;
	background-color: var(--White);
	padding: 25px 0 4rem;
	display: flex;
	flex-wrap: wrap;
	&.four-col {
		max-width: 1400px;
		& a {
			width: 25%;
			@media (--800vp) {
				width: 50%;
			}
			@media (--550vp) {
				width: 100%;
			}
		}
	}
	&.three-col {
		max-width: 1200px;
		& a {
			width: 33.33%;
			padding-bottom: 2rem;
			@media (--550vp) {
				width: 100%;
			}
		}
	}
	& a {
		text-decoration: none;
	}
}

.other-kit,
.annie-kit {
	width: 100%;
	height: 100%;
	padding: 10px 2rem 64px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: all .25s linear;
	&:hover,
	&:focus {
		background-color: rgba(203, 206, 209, 0.2);
		& .button {
			background: transparent;
			color: var(--PrimaryOne);
			border: 2px solid var(--PrimaryOne);
		}
	}
	& img {
		width: 100%;
	}
	& h3 {
		font-size: responsive 20px 25px;
		font-range: 420px 1400px;
		text-align: center;
		color: var(--PrimaryOne);
		margin: .5em 0;
	}
	& h4 {
		font-size: responsive 20px 22px;
		font-range: 420px 1400px;
		text-align: center;
		color: var(--PrimaryOne);
		margin: .5em 0;
	}
	& p {
		text-align: left;
	}
	& p.price {
		font-family: var(--HeadCopy);
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		color: var(--PrimaryThree);
		text-align: center;
		margin: 0;
	}
	& .button {
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		padding: .75em 1.25em;
	}
}

.faq {
	h3 {
		color: var(--PrimaryOne);
		font-size: 22px;
		margin-top: 6vh;
		font-family: var(--HeadCopyItalic);
		text-align: left;
	}
}

.annies-logo {
	max-width: 200px !important;
	display: flex;
	margin: 0 auto;
}