.page-template-two-col-card .default-contents {
	padding: 2vh 0;
	&::after {
		display: none;
	}
}

/*-----------------------------------------
    CARDS
-----------------------------------------*/

.cards {
	width: 100%;
	padding-bottom: 150px;
	background-image: none;
	background-position: bottom -30px center;
	background-repeat: no-repeat;
	@media (--800vp) {
		background-position: bottom right;
		background-size: 1000px;
	}
	&>.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90vw;
		max-width: 900px;
		margin: 0 auto;
	}
}

.card {
	width: calc(50% - 15px);
	margin: 15px 0;
	@media (--550vp) {
		width: 100%;
		margin: 15px 0;
	}
	& img {
		width: 40%;
		@media (--550vp) {
			display: flex;
			margin: 0 auto;
		}
	}
	h3 {
		text-align: left;
		position: relative;
		margin-bottom: 3rem;
		&::after {
			content: '';
			background: var(--PrimaryTwo);
			height: 4px;
			width: 120px;
			position: absolute;
			bottom: -14px;
			left: 0;
		}
	}
}