/*-----------------------------------------
    ERROR/404 PAGE
-----------------------------------------*/

.error-message {
	width: 80vw;
	margin: 0 auto;
	text-align: center;
	& h1 {
		font-size: responsive 70px 100px;
		font-range: 420px 1400px;
		margin: 0 0 2vh 0;
		color: var(--White);
	}
	& h2 {
		color: var(--White);
	}
	& svg {
		width: 100px;
		position: relative;
		top: 2rem;
		margin-top: -2rem;
		margin-left: 1rem;
		fill: var(--White);
	}
}

.error404 {
	& .title-section {
		padding: 5rem 0;
	}
	.next-steps {
		.block {
			display: block;
			text-align: center;
			.button {
				margin-top: 1rem;
			}
		}
	}
}