.galleries {
	width: 100%;
	padding-bottom: 150px;
	text-align: center;
	background-image: none;
	background-position: bottom -30px center;
	background-repeat: no-repeat;
	@media (--800vp) {
		background-position: bottom right;
		background-size: 1000px;
	}
	&>h2 {
		margin-bottom: 0;
		margin-top: 4rem;
	}
	&>select {
		max-width: 300px;
		margin: 2em 0;
		color: var(--PrimaryOne);
		font-size: 18px;
		height: 47px;
	}
	&>.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		& .gallery-image,
		& .gallery-sizer {
			display: inline-block;
			width: 33%;
			padding: 5px;
			margin: 0;
			@media (--800vp) {
				width: 50%;
			}
			&.two {
				width: 50%;
				@media (--800vp) {
					width: 100%;
				}
			}
			&.three {
				width: 99%;
				@media (--800vp) {
					width: 100%;
				}
			}
			& img {
				width: 100% !important;
			}
			p {
				position: absolute;
				top: calc(50% - 70px);
				left: 5px;
				display: none;
				width: calc(100% - 10px);
				color: var(--White);
				font-family: var(--HeadCopyItalic);
				font-size: 25px;
				@media (--800vp) {
					font-size: 18px;
				}
				& svg {
					margin-top: 2vh;
				}
			}
			&:hover p {
				display: inherit;
			}
			.overlay {
				position: absolute;
				top: 5px;
				left: 5px;
				height: calc(100% - 10px);
				width: calc(100% - 10px);
				opacity: 0;
				transition: .5s ease;
				background-color: var(--PrimaryOne);
			}
			&:hover .overlay {
				opacity: 0.6;
			}
		}
	}
}

.featherlight {
	& .featherlight-content {
		background-color: var(--White) !important;
		overflow: visible !important;
		padding: 10px !important;
		border-bottom: none !important;
		& .featherlight-close {
			margin: -10px -10px 0 0;
			background-color: var(--PrimaryOne);
			color: var(--White);
			font-weight: 900;
			line-height: 35px;
			width: 35px;
		}
		& .featherlight-next,
		& .featherlight-previous {
			top: 10px;
			bottom: 10px;
			width: 60px;
			transition: all .25s linear;
			&:hover,
			&:focus {
				background: color( var(--PrimaryOne) alpha(50%));
			}
			& span {
				text-shadow: none;
				display: block !important;
			}
		}
		& .featherlight-previous {
			left: 10px;
		}
		& .featherlight-next {
			right: 10px;
			left: auto;
		}
	}
	&:last-of-type {
		background: rgba(0, 0, 0, 0.5) !important;
	}
}