.search,
.pattern-corrections {
	.active a:after {
		background: transparent !important;
	}
	form {
		margin: 6vh 0;
		position: relative;
		input {
			width: 75%;
			font-family: Cabin;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			height: 47px;
			margin: 0 .5em 8px 0;
			color: var(--PrimaryOne);
			font-family: var(--BodyCopy);
			&::placeholder {
				color: var(--PrimaryFour);
			}
			@media (--750vp) {
				width: 55%;
			}
		}
		a {
			position: absolute;
			left: 68%;
			top: 24%;
			text-decoration: none;
			opacity: .7;
			@media (--750vp) {
				left: 47%;
			}
			@media (--550vp) {
				display: none;
			}
		}
		button {
			@media (--750vp) {
				padding: .75em 1.25em;
			}
		}
	}
	#gform_3 {
		.gform_body {
			width: 60%;
			margin: 0 auto;
			@media (--800vp) {
				width: 100%;
			}
			ul {
				li {
					label {
						color: var(--PrimaryOne);
						font-size: 16px;
						font-family: var(--HeadCopyItalic);
						span {
							display: none;
						}
					}
					input,
					textarea {
						width: 100%;
						max-height: 100px;
						&::placeholder {
							color: var(--PrimaryFour);
							font-weight: 400;
							font-size: 18px;
						}
					}
					select {
						color: var(--PrimaryFour);
						font-weight: 400;
						font-size: 18px;
						height: 47px;
						&::placeholder {
							color: var(--PrimaryFour);
							font-weight: 400;
							font-size: 18px;
						}
					}
					&#field_3_7 {
						color: var(--PrimaryOne);
						font-family: var(--HeadCopyItalic);
						font-size: 20px;
						line-height: 26px;
					}
					&#field_3_8 {
						width: 50%;
						padding-right: 1%;
					}
					&#field_3_9 {
						width: 50%;
						padding-left: 1%;
					}
				}
			}
		}
		.gform_footer {
			text-align: center;
			button {
				font-size: 16px;
				line-height: 30px;
				width: auto;
				margin-top: 4vh;
			}
		}
	}
	.search-feed {
		h4 {
			margin-top: 6vh;
			color: var(--PrimaryOne);
			font-family: var(--HeadCopy);
			font-size: 25px;
		}
	}
	.kit-feed {
		a {
			text-decoration: none;
		}
		h5 {
			color: var(--BlackCopy);
		}
		.kit-photo-header {
			margin-top: 5rem;
		}
		.post-preview {
			height: unset;
			padding: 4vh 10px;
			&:hover,
			&:focus {
				background-color: transparent;
				.pdf-card {
					&:hover,
					&:focus {
						& .button {
							background: var(--PrimaryOne);
							color: var(--WhiteCopy);
						}
					}
				}
			}
		}
		.post-preview-photos {
			margin-top: 5vh;
			.preview-image {
				width: calc(32% - 1vh);
				display: inline-block;
				height: 320px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: .5vh;
				position: relative;
				@media (--800vp) {
					width: calc(50% - 1.5vh);
				}
				@media (--550vp) {
					width: calc(100% - 1vh);
				}
				img {
					display: none;
				}
				p {
					position: absolute;
					top: calc(50% - 70px);
					left: 0;
					display: none;
					width: 100%;
					text-align: center;
					color: var(--White);
					font-family: var(--HeadCopy);
					font-size: 25px;
					text-transform: uppercase;
					& svg {
						margin-top: 2vh;
					}
				}
				&:hover p {
					display: inherit;
				}
				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					background-color: var(--PrimaryThree);
				}
				&:hover .overlay {
					opacity: 0.6;
				}
			}
		}
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
		.post-preview {
			width: 25%;
			@media (--1024vp) {
				width: 33%;
			}
			@media (--800vp) {
				width: 50%;
			}
			@media (--550vp) {
				width: 100%;
			}
			&:hover,
			&:focus {
				background-color: transparent;
				.pdf-card {
					& .button {
						background: var(--PrimaryOne);
						color: var(--WhiteCopy);
					}
				}
			}
			a {
				text-decoration: none;
			}
			.pdf-card {
				width: 100%;
				p {
					min-height: 90px;
					@media (--1024vp) {
						min-height: 60px;
					}
				}
			}
		}
	}
}