/*-----------------------------------------
    FONTS
-----------------------------------------*/

@font-face {
	font-family: 'Libre Baskerville';
	src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville Italic';
	src: url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville Bold';
	src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 400;
	color: var(--PrimaryOne);
	letter-spacing: 1px;
	margin: 1em 0;
}

h1,
.widget h1 {
	font-size: responsive 30px 46px;
	font-range: 420px 1400px;
	text-transform: uppercase;
}

h2,
.widget h2 {
	font-size: responsive 24px 36px;
	font-range: 420px 1400px;
	text-align: center;
}

h3,
.widget h3 {
	font-size: responsive 18px 26px;
	font-range: 420px 1400px;
	font-family: var(--HeadCopyItalic);
	text-align: center;
}

h4,
.widget h4 {
	font-size: responsive 18px 20px;
	font-range: 420px 1400px;
	font-family: var(--HeadCopyItalic);
}

h5,
.widget h5 {
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
	font-family: var(--HeadCopyItalic);
}

h6,
.widget h6 {
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
	font-family: var(--HeadCopyItalic);
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/

h1+h2 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 28px 32px;
	font-range: 420px 1400px;
	margin-top: -.35em;
	text-transform: none;
}

h2+h3 {
	text-align: left;
}

h3+h4 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 20px;
	font-range: 420px 1400px;
	margin-top: -.35em;
	text-transform: none;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/

p,
time {
	font-family: var(--BodyCopy);
	font-size: responsive 16px 18px;
	font-range: 420px 1400px;
	color: var(--PrimaryOne);
	letter-spacing: 1px;
	line-height: 30px;
}

strong,
b {
	color: var(--PrimaryOne);
}

ol,
ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px;
	font-range: 420px 1400px;
	color: var(--PrimaryOne);
	padding-left: 1em;
}

li {
	font-family: var(--BodyCopy);
	color: var(--PrimaryOne);
	line-height: 1;
	position: relative;
	background-size: 1.1em;
	background-position: left 14px;
	background-repeat: no-repeat;
}

ul {
	list-style: none;
	padding-left: 0;
	& li {
		line-height: 2.5;
		padding-left: 2em;
		background-image: url('../images/list-bullet.svg');
	}
}

nav li {
	background-image: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px;
	font-range: 420px 1400px;
	color: var(--PrimaryOne);
	&:hover,
	&:focus,
	&:active {}
}

hr {
	height: 4px;
	margin: 16px auto;
	background: var(--PrimaryTwo);
	border: none;
	width: 420px;
}

blockquote,
q {
	margin: 2em auto;
	padding: 1.5em;
	width: 90%;
	font-family: var(--BodyCopy);
	text-align: center;
	& p {
		font-size: responsive 14px 20px;
		font-range: 420px 1400px;
		&:last-child {
			font-family: var(--BodyCopy);
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			border-top: 4px solid var(--PrimaryTwo);
			display: inline-block;
			margin: 0 auto;
			padding: .5em 2em;
			& span {
				display: block;
			}
		}
	}
}