/*-----------------------------------------
  	META DATA
-----------------------------------------*/

.meta {
	& time {
		display: inline-block;
		margin-right: .25em;
	}
	& p {
		margin: 0;
		display: inline-block;
		margin-right: .25em;
	}
}

/*-----------------------------------------
  	POST
-----------------------------------------*/

.post-preview {
	width: 100%;
	height: 100%;
	padding: 10px 10px 75px 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: all .25s linear;
	@media (--800vp) {
		display: flex;
		justify-content: center;
	}
	&:hover,
	&:focus {
		background-color: rgba(203, 206, 209, 0.2);
		& .button {
			background: transparent;
			color: var(--PrimaryOne);
		}
	}
	& img {
		width: 100%;
	}
	& article header .featured-image {
		height: 230px;
		width: 100%;
		background-size: cover;
		background-position: 50%;
	}
	& h3 {
		font-size: responsive 20px 25px;
		font-range: 420px 1400px;
		text-align: left;
		color: var(--PrimaryOne);
		margin: .5em 0;
		padding-top: 3vh;
	}
	& p.price {
		font-family: var(--HeadCopy);
		font-size: responsive 18px 20px;
		font-range: 420px 1400px;
		color: var(--PrimaryThree);
		text-align: center;
		margin: 0;
	}
	& .button {
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		padding: .75em 1.25em;
		border: 2px solid var(--PrimaryOne);
	}
}

.post-preview-kit {
	width: 100%;
	padding: 10px;
	margin: 25px 0;
	position: relative;
	display: inline-block;
	transition: all .25s linear;
}

.pdf-card {
	width: 25%;
	padding: 2vh;
	display: inherit;
	position: relative;
	padding-top: calc(138px + 1vh);
	padding-bottom: calc(58px + 1vh);
	@media (--1024vp) {
		padding-top: calc(176px + 1vh);
	}
	@media (--800vp) {
		padding-top: calc(220px + 1vh);
	}
	@media (--750vp) {
		padding-top: calc(190px + 1vh);
	}
	@media (--550vp) {
		padding-top: calc(220px + 1vh);
	}
	&:hover,
	&:focus {
		background-color: rgba(203, 206, 209, 0.2);
		.button {
			background: transparent !important;
			color: var(--PrimaryOne) !important;
		}
	}
	svg {
		position: absolute;
		top: 1vh;
		left: 15%;
		width: 70%;
		max-width: 240px;
	}
	h5 {
		color: var(--PrimaryOne);
		font-family: var(--BodyCopy);
		font-size: 18px;
		margin: 2vh 0 0;
		text-align: left;
	}
	p {
		font-family: var(--BodyCopy);
		text-align: left;
		font-size: 18px;
		margin: .5em 0;
	}
	.button {
		font-size: 16px;
		line-height: 30px;
		padding: .75em;
		bottom: 0;
		width: calc(100% - 2vh);
		position: absolute;
		display: table;
		left: calc(50% - 1vh);
		transform: translateX(-50%);
		margin: 2vh 1vh 1vh;
		border: 2px solid var(--PrimaryOne);
	}
}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/

.search-term {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		background-color: var(--PrimaryTwo);
		bottom: -2px;
	}
}

.search-results {
	.post-preview {
		height: unset;
		padding: 10px;
		p {
			text-align: left;
		}
		h2 {
			margin: .35em 0;
		}
	}
}