/*-----------------------------------------
  	SINGLE POST
-----------------------------------------*/

.single {
	.page-title {
		height: unset;
	}
	.title-section {
		&>.block {
			h1 {
				margin-bottom: 0;
				@media (--800vp) {
					font-size: 22px;
				}
			}
			.categories {
				margin-bottom: 0;
				@media (--800vp) {
					margin-top: 0;
				}
			}
		}
	}
	article {
		.default-contents {
			padding: 25px 2vw;
			max-width: 1200px;
			margin: 0 auto;
			width: 90vw;
			&:after {
				display: none;
			}
		}
	}
}

.entry-time {
	color: var(--White);
}

.categories {
	margin-bottom: 0;
	a {
		color: var(--White);
		text-decoration: none;
	}
}