/*-----------------------------------------
    CONTACT
-----------------------------------------*/

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	height: 28rem;
	position: relative;
	@media (--750vp) {
		height: auto;
	}
	& .guarantee {
		width: 50%;
		height: 100%;
		padding: 2vh 3vw;
		background-image: none;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		&::after {
			content: '';
			background-color: #454148;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.block {
			position: relative;
			z-index: 2;
			max-width: 500px;
			width: 90vw;
			@media (--750vp) {
				width: 90vw;
			}
			& p {
				color: var(--White);
				margin: 2rem 0;
			}
			h2 {
				color: var(--White);
				text-align: left;
				position: relative;
				&::after {
					content: '';
					background: var(--PrimaryTwo);
					height: 4px;
					width: 120px;
					position: absolute;
					bottom: -14px;
					left: 0;
				}
			}
		}
	}
	& .contact-details {
		width: 50%;
		height: 100%;
		padding: 2vh 3vw;
		background-color: rgba(235, 227, 216, 0.2);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		.block {
			max-width: 500px;
			& p:first-of-type {
				margin: 2rem 0;
			}
			h2 {
				text-align: left;
				position: relative;
				&::after {
					content: '';
					background: var(--PrimaryTwo);
					height: 4px;
					width: 120px;
					position: absolute;
					bottom: -14px;
					left: 0;
				}
			}
			h3 {
				margin: 1em 0;
				text-align: left;
			}
		}
	}
}