/*-----------------------------------------
    SPLIT CTAS
-----------------------------------------*/

.split-block {
	position: relative;
	&>h2 {
		text-align: center;
		max-width: 800px;
		margin: 4rem auto
	}
}

.split-cta {
	height: 50vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	@media (--800vp) {
		display: block;
		height: auto;
	}
	&:nth-of-type(even) {
		& .image {
			order: 2;
		}
		& .content {
			order: 1;
			background-image: none;
			background-position: bottom -18px left -18px;
		}
	}
	& .image {
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (--800vp) {
			width: 100%;
			height: 35vh;
		}
	}
	& .content {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: none;
		background-position: bottom -18px right -18px;
		background-repeat: no-repeat;
		@media (--800vp) {
			width: 100%;
			padding: 4vh 3vw;
		}
		h3 {
			text-align: left;
			position: relative;
			margin-bottom: 3rem;
			&::after {
				content: '';
				background: var(--PrimaryTwo);
				height: 4px;
				width: 120px;
				position: absolute;
				bottom: -14px;
				left: 0;
			}
		}
		p {
			margin-bottom: 2rem;
		}
		&>.block {
			max-width: 500px;
			width: 80%;
		}
	}
}