/*-----------------------------------------
    JOIN
-----------------------------------------*/

.join-now {
	border: 10px solid var(--PrimaryTwo);
	background-image: none;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	padding: 0 4vw;
	&>h2 {
		text-align: center;
		margin: 4rem 0 2rem;
	}
	h3 {
		text-align: left;
		position: relative;
		font-size: 22px;
		margin-bottom: 2rem;
		&::after {
			content: '';
			background: var(--PrimaryTwo);
			height: 4px;
			width: 120px;
			position: absolute;
			bottom: -14px;
			left: 0;
		}
	}
	&>a.button {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		font-size: 22px;
		padding: 1em 2.25em;
		@media (--800vp) {
			width: 75vw;
			font-size: 16px;
		}
	}
	& .contents {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 2rem;
		@media (--800vp) {
			padding-bottom: 50px;
		}
		&>.block {
			width: 33%;
			padding: 1vh 2vw;
			@media (--800vp) {
				width: 100%;
				padding: 0 3vw;
			}
		}
	}
}

#gallery-2 {
	& .gallery-item:last-of-type {
		width: 66%;
		@media (--800vp) {
			width: 50%;
		}
	}
}