/*-----------------------------------------
    STICKY DEALS
-----------------------------------------*/

.sticky-deal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 4px;
	background-color: var(--PrimaryThree);
	z-index: 10;
	height: 90px;
	@media (--1024vp) {
		position: relative;
		display: block;
		text-align: center;
		padding: 5vh 2vw;
		height: initial;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		background-image: none;
		background-position: top center;
		backgorund-size: 100% auto;
		background-repeat: repeat-x;
	}
	img {
		margin-right: -100px;
		@media (--1024vp) {
			position: absolute;
			top: -60px;
			right: 0;
			margin-right: 0;
		}
	}
	& p {
		text-align: left;
		color: var(--PrimaryOne);
		display: inline-block;
		margin: 0 10px;
		position: relative;
		z-index: 2;
		@media (--1024vp) {
			text-align: center;
			margin: 0 0 1em 0;
			width: 90%;
		}
	}
	& p.deal {
		font-size: responsive 40px 42px;
		font-range: 420px 1400px;
		font-family: var(--HeadCopy);
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 10px;
		@media (--1024vp) {
			margin: 2rem 10px 0;
		}
	}
	& a.button {
		margin: 0 10px;
		vertical-align: super;
		position: relative;
		z-index: 2;
		background: transparent;
		border: 2px solid var(--PrimaryOne);
		color: var(--PrimaryOne);
		&:hover,
		&:focus {
			background: var(--PrimaryOne);
			color: var(--White);
		}
	}
}