/*-----------------------------------------
   TESTIMONIES
-----------------------------------------*/

.testimonies {
	background-image: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 5rem 0;
	&::after {
		content: '';
		background-color: #F8F5F1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&>.block {
		position: relative;
		z-index: 2;
		max-width: 1024px;
		width: 90vw;
		margin: 0 auto;
		& h2 {
			color: var(--PrimaryOne);
			text-align: center;
			font-size: responsive 30px 35px;
			font-range: 420px 1400px;
			margin: 0 0 2rem;
		}
		blockquote,
		q {
			margin: 0 auto;
			padding: 0;
			p {
				&:first-child {
					margin: 3rem 0;
					padding: 0;
				}
				&:last-child {
					padding: .5em 2em 0;
				}
			}
		}
	}
}

/*-----------------------------------------
   TESTIMONIES SLIDER
-----------------------------------------*/

.testimonies-slider {
	position: relative;
	&>svg {
		cursor: pointer;
		z-index: 10;
		&:first-of-type {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-100%)
		}
		&:last-of-type {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-100%)
		}
	}
}

/*-----------------------------------------
   TESTIMONy PREVIEW
-----------------------------------------*/

.testimony {
	outline: none;
	& blockquote,
	q {
		& p {
			color: var(--PrimaryOne);
			&:first-child {
				font-family: var(--HeadCopyItalic);
				font-size: 22px;
				line-height: 38px;
				text-align: center;
				margin: 0 0 3rem;
			}
		}
	}
}