/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/

.title-section {
	width: 100%;
	padding: 5vh 0;
	background-color: var(--NeutralTwo);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&>.block {
		position: relative;
		z-index: 2;
		@media (--800vp) {
			margin: 0;
		}
	}
	& h1 {
		margin: 0 auto;
		width: 80vw;
		@media (--1024vp) {
			width: 90vw;
		}
	}
}

/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/

.page-title {
	height: 48vh;
	min-height: 300px;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	@media (--800vp) {
		padding-top: 100px;
		padding-bottom: 0;
		min-height: 40vh;
		height: auto;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(69, 65, 72, 0.25);
	}
	& h1 {
		color: var(--WhiteCopy);
		max-width: 800px;
	}
	& h2 {
		color: var(--WhiteCopy);
		max-width: 775px;
		margin: .5rem auto 0;
		@media (--800vp) {
			font-size: 24px;
		}
	}
	& h3 {
		color: var(--WhiteCopy);
		font-family: var(--HeadCopyItalic);
		font-size: responsive 28px 42px;
		font-range: 420px 1400px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	& .button {
		padding: 1em 2.25em;
		font-size: 22px;
		background: var(--PrimaryTwo);
		color: var(--PrimaryOne);
		&:hover,
		&:focus,
		&.is-hover {
			background: var(--PrimaryOne);
			color: var(--WhiteCopy);
		}
	}
}

.home .page-title {
	min-height: 60vh;
	@media (--800vp) {
		min-height: 75vh;
	}
	& h2 {
		margin: .5rem auto 1rem;
	}
}

/*-----------------------------------------
   POST TITLES
-----------------------------------------*/

.post-title {}

/*-----------------------------------------
   VIDEO BACKGROUNDS
-----------------------------------------*/

.video-wrap {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@media (--800vp) {
		display: none;
	}
	& video {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		left: 0;
		right: 0;
	}
}